.page-content {
    display: flex;
    flex-direction: column;
}

.page-content .small-activity {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 3rem;
    margin-bottom: 5rem;
}