.main{text-align: center;
    display:flex;
    align-items: center;
    min-height: 100vh;
   justify-content: center;
  
  color: #1353d2;
  
  background-image: linear-gradient(79deg,#78bbf3,#2f90df 48%,#86b5fc) ;
  }
.auto-form-continer{
    padding: 2rem;
    border: 4px solid rgb(251, 245, 249);
    border-radius: 10px;
    
  
  }
  @media screen and (min-width:300px){
    .auto-form-continer,.login-form{
  
      display: flex;
      flex-direction: column;}
    }
    
   label{
    text-align: left;
    padding: 0.25rem 0;
    font-weight: 550;
   }
  
  input{
    margin: 0.5rem 0;
    padding: 10px;
    border: none;
    border-radius: 10px;
    color: #1a1717;
  }

  .submit{
    margin: 10px 0;
    
    

    background-image: linear-gradient(79deg,#78bbf3,#2f90df 48%,#86b5fc) ;
    border-radius: 10px;
    
    align-items: center;
    display: flex;
    justify-content: center;
    color: aliceblue;
   
  }
  h1{
    margin: 60px;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .login-popup{
    position: absolute;
    height: 30em;
    width:30em ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: #1a1717;
    color: aliceblue;
    transform: scale(1);
    transform: 1.5s;

  }
  .hide{
    transform: scale(1);
    position: absolute;
  }