.page-title{
    display: flex;
    align-items: flex-end;
}

.page-title h1{
    font-weight: 800;
    margin-bottom: 20px;
    font-size: 45px;
}

.page-title h5{
    margin-left: 75px;
    font-weight: 500;
    font-size: 15px;
    opacity: 50%;
}
