.warehouse-table {
    border-collapse: collapse;
    width: 100%;
    background-color: #ffffff;
    border-radius: 10px;
}
.warehouse-table tr {
    background-color: white;
}

.warehouse-table-block {
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
}

.warehouse-table-block * {
    background-color: white;
}

.table_search_add {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.warehouse-table th{
    padding: 12px;
    /* text-align: center; */
    text-align: left;
    border-bottom: 1px solid #dddddd;
}
.warehouse-table td {
    padding: 12px;
    /* text-align: center; */
    border-bottom: 1px solid #dddddd;
}
.warehouse-table th{
    background-color: #f2f2f2;
}

.page-content .searchBar_logo img{
    width: 20px;
    height: 20px;
    background-color: #9ae1f7;
    
}
.page-content .searchBar_logo .logo{
    display: inline;
}
.page-content .searchBar_logo .logo .logo_image{
    border: 1px;
    border-radius: 10px;
    height: 28px;
    width: 38px;
    background-color: #9ae1f7;
}
.warehouse-table  th:first-child{
    border-top-left-radius: 10px;
}
.warehouse-table th:last-child {
    border-top-right-radius: 10px;
}

.warehouse-table td:last-child {
    text-align: left;
}

.edit_btn,
.del_btn {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #01bef6;
    color: #ffffff;
    cursor: pointer;
    margin-right: 5px;
}

.del_btn {
    background-color: #f44336;
}

.Add_btn,
.search{
    margin-left: 10px;
    margin-bottom: 20px;
}

.Add_btn {
    padding: 10px;
    width: 100px;
    border-radius: 5px;
    background-color: #01bef6;
    color: #ffffff;
    border: none;
    cursor: pointer;
}
/* .user_warehouse{
    width: 10px;
} */

.search {
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #f2f2f2;
    border-style: none;
}
.activee{
    /* color: green; */
    background-color: green;
    color: #ffffff;
    text-align: center;
    width: 70px;
    border: 1px;
    border-radius: 10px;
    opacity: 0.7;
}
.inactivee{
    /* color: red; */
    color: #ffffff;
    background-color: red;
    text-align: center;
    width: 70px;
    border: 1px;
    border-radius: 10px;
    opacity: 0.7;
    
}