.warehouse-table {
    border-collapse: collapse;
    width: 100%;
    background-color: #ffffff;
    border-radius: 10px;
}
.warehouse-table tr {
    background-color: white;
}

.warehouse-table-block {
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
}

.warehouse-table th{
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #dddddd;
}
.warehouse-table td {
    border-bottom: 1px solid #dddddd;
    text-align: center;
    vertical-align: middle;
}

.warehouse-table th{
    background-color: #f2f2f2;
}

.warehouse-table  th:first-child{
    border-top-left-radius: 10px;
}
.warehouse-table th:last-child {
    border-top-right-radius: 10px;
}

.warehouse-table td:last-child {
    text-align: left;
}

.edit_btn,
.del_btn {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #01bef6;
    color: #ffffff;
    cursor: pointer;
    margin-right: 5px;
}

.del_btn {
    background-color: #f44336;
}

.state-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btns-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.activee, .inactivee {
    background-color: green;
    color: #ffffff;
    text-align: center;
    width: 70px;
    border: 1px;
    border-radius: 1rem;
    opacity: 0.7;
    padding: 0.2rem 0.3rem;
}
.inactivee{
    background-color: red;
}
